site_name: Mesh predictor

theme:
  name: material

  features:
     - header.autohide
  
  palette:
    primary: black

  icon:
    repo: fontawesome/brands/github

copyright: Copyright &copy; 2022 Aida Farahani, Payam Atoofi, Julien Vitay
repo_url: https://github.com/hamkerlab/ML-Karoprod-MeshPredictor

plugins:
  - search
  - mkdocstrings:
      default_handler: python
      watch:
        - src/cut_predictor
      handlers:
        python:
          selection:
            docstring_style: sphinx
  - mknotebooks:
      execute: false
      write_markdown: false
      binder: false


markdown_extensions:
  - admonition
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.arithmatex:
      generic: true
  - toc:
      permalink: "#"

extra_javascript:
  - javascripts/config.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js


nav:
  - Installation: 'index.md'
  - 'datapreparation.md'
  - 'usage.md'
  - API:
    - 'Predictor.md'
    - 'CutPredictor.md'
    - 'ProjectionPredictor.md'
    - 'MeshPredictor.md'
    - 'DoubleProjectionPredictor.md'
  - Examples:
    - 'Cut_x0.ipynb'
    - 'Cut_web.ipynb'
    - 'Cut_flange.ipynb'
    - 'Projection_2D.ipynb'
    - 'Reference_3D.ipynb'
    - 'Springback_UV_xyz.ipynb'
    - 'Joining.ipynb'